<% content_for :title, "Catégories d'Objectifs" %>

<% content_for :actions do %>
  <%= link_to icon(:plus), new_goal_category_path, class: "btn btn-primary" %>
<% end %>

<div class="row">
	<div class=".col-md-8">
		<% if @goal_categories.present? %>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @goal_categories.each do |goal_category| %>
					<tr>
						<td><%= goal_category.name %></td>
						<td>
							<%= link_to edit_goal_category_path(goal_category) do %>
							<i class="fa fa-edit fa-fw"></i>
							<% end %>
							<%= link_to goal_category_path(goal_category), method: :delete, data: { confirm: "Etes vous sûr ?" } do %>
							<i class="fa fa-trash-o fa-fw"></i>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>
