<% content_for :title, "Détail de l'Objectif" %>

<p><%= @goal.name %></p>

<%= link_to t('actions.edit'), edit_goal_path(@goal), class: "btn btn-primary" %>
<%= link_to t('actions.delete'), goal_path(@goal), class: "btn btn-default", method: :delete, data: { confirm: "Etes vous sûr ?" }%>
