<% content_for :title, "Séances" %>

<% content_for :actions do %>
  <%= link_to icon(:plus), new_sceance_path, class: "btn btn-primary" %>
<% end %>

<div class="row">
	<div class="col-md-12">
		<div id="calendar"></div>
	</div>
</div>
